@model IEnumerable<CareerCommon.CareerViewModels.IndustriesProfessionsViewModel>

@foreach (var item in Model)
{
    <li class="list-group-item list-group-item-success">
        <div class="d-flex">
            <div class="col-md-11 text-start">
                @item.Name
            </div>
            <div class="col-md-1 text-end">
                <a style="text-decoration:none; color:darkgreen" data-bs-toggle="collapse" href="#collapseExample@(item.ID)" class="text-end">
                    <i class="bi bi-arrow-bar-down "></i>
                </a>
            </div>
        </div>
        <div class="collapse" id="collapseExample@(item.ID)">
            <div class="card card-body list-group-item-success">
                <ul class="list-group list-group-flush list-group-item-success" id="professionsList@(item.ID)">
                    <partial name="_ProfessionsList" model="item.Professions">
                </ul>
            </div>
        </div>
    </li>
}
