@using Microsoft.AspNetCore.Identity
@model CareerCommon.CareerViewModels.LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Sign in";
}

@if (SignInManager.IsSignedIn(User))
{
    Context.Response.Redirect("/Home/Index");
}
<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4 d-flex flex-column min-vh-100 aligns-items-center justify-content-center">
            <form asp-action="LogIn">
                <h1 class="display-5 text-center">Sign In</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <br />
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input btn-outline-success bg-success" asp-for="Remember" /> @Html.DisplayNameFor(model => model.Remember)
                    </label>
                </div>
                <div>
                    <br />
                </div>
                <div class="form-group d-grid gap-2">
                    <input type="submit" value="Sign In" class="btn btn-outline-success" />
                </div>
            </form>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
